@import "functions.less";
@import "toolbox.less";
@import "colors-values.less";

/* Not as smooth as I might like.
   Max heigh transition for fluid content is kinda blahhhhh */

.key {
  background: #8A867A;
  border-bottom: 1px solid #C2C1BB;
}

.key.open {
  background: #9E9B90;
  cursor: default;
}

.key a {
  outline: 0;
}

/* Probably will need to use classes here */
.key:first-child {
  .border-radiuses(5px, 0, 0, 5px);
}
.key:last-child {
  .border-radiuses(0, 5px, 5px, 0); 
  border-bottom: 0;
}

.key h3 {
  position: relative;
  visibility: visible;
  font-size: 1.1em;
  line-height: 1.5;
  cursor: pointer;
  margin: 0;
}

.key h3 .press {
  display: block;
  padding: 0.8em 0.8em 0.8em 2em;
  color: #fff;
  text-transform: uppercase;
}

.key:hover {
  background: #9D9B8F;
}
  
.key h3 .press:hover {
  text-decoration: none;
}

/* Arrow */
.key h3 .press:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 8px solid #FFF;
  border-bottom: 4px solid transparent;
  position: absolute;
  top: 1.2em;
  left: 11px;
}
.key.open h3 .press:before {
  .rotate(90deg);
}

/* Light version */
.light .key {
  background: #EAEAE8;
}
.light .key:hover {
  background: white;
}
.light .key h3 .press:before {
  border-left-color: #a4a4a4;
}
.light .key h3 .press {
  color: #333;
  text-transform: none;
}
.light .key section {
  color: #333;
}
.light .key.open {
  background: #F2F2F0;
}

/* Help popouts */
.key h3 .q {
  position: absolute;
  display: block;
  right: 1em;
  top: 1em;
}

/* Content */
.key section {
  color: white;
  overflow-y: auto;
  padding: 0 10px;
}
.key section {
  height: 0;
}
.key.open section {
  height: auto;
}

/* Scrollbar */
.static .key section::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.static .key section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  .border-radius(12px);
}
/* Handle */
.static .key section::-webkit-scrollbar-thumb {
  .border-radius(12px);
  background: #333;
  .box-shadow(inset 0 0 6px rgba(0,0,0,0.5));
}
