.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */

}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.hide {
  display: none;
}
.cloak {
  visibility: hidden;
}
.disabled, :disabled {
  opacity: 0.5;
}
/* Not as smooth as I might like.
   Max heigh transition for fluid content is kinda blahhhhh */
.key {
  background: #8A867A;
  border-bottom: 1px solid #C2C1BB;
}
.key.open {
  background: #9E9B90;
  cursor: default;
}
.key a {
  outline: 0;
}
/* Probably will need to use classes here */
.key:first-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.key:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 0;
}
.key h3 {
  position: relative;
  visibility: visible;
  font-size: 1.1em;
  line-height: 1.5;
  cursor: pointer;
  margin: 0;
}
.key h3 .press {
  display: block;
  padding: 0.8em 0.8em 0.8em 2em;
  color: #fff;
  text-transform: uppercase;
}
.key:hover {
  background: #9D9B8F;
}
.key h3 .press:hover {
  text-decoration: none;
}
/* Arrow */
.key h3 .press:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 8px solid #FFF;
  border-bottom: 4px solid transparent;
  position: absolute;
  top: 1.2em;
  left: 11px;
}
.key.open h3 .press:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
/* Light version */
.light .key {
  background: #EAEAE8;
}
.light .key:hover {
  background: white;
}
.light .key h3 .press:before {
  border-left-color: #a4a4a4;
}
.light .key h3 .press {
  color: #333;
  text-transform: none;
}
.light .key section {
  color: #333;
}
.light .key.open {
  background: #F2F2F0;
}
/* Help popouts */
.key h3 .q {
  position: absolute;
  display: block;
  right: 1em;
  top: 1em;
}
/* Content */
.key.init section {
  height: 0;
}
.key.init.open section {
  height: auto;
}
.key section {
  color: white;
  overflow: hidden;
  padding: 0 10px;
}
#panel-1 {
  height: auto;
}
/* Scrollbars */
.static .key section::-webkit-scrollbar {
  width: 12px;
}
/* Track */
.static .key section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* Handle */
.static .key section::-webkit-scrollbar-thumb {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #333;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
