.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */

}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.hide {
  display: none;
}
.cloak {
  visibility: hidden;
}
.disappear {
  opacity: 0;
}
.disabled, :disabled {
  opacity: 0.5;
  cursor: default;
}
a[data-menu].open {
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.button-menu {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1000;
  border: 1px solid #999;
  margin: -1px 0 0 0;
  padding: 0;
  list-style: none;
  float: left;
  max-height: 300px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.button-menu.long {
  overflow-y: auto;
}
.button-menu > li {
  margin: 0;
  position: relative;
}
.button-menu > li:last-child a {
  border: 0;
}
.button-menu > li > a {
  display: block;
  background: white;
  color: #00898B;
  padding: 5px 50px 5px 10px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
}
.button-menu > li > a:hover {
  text-decoration: none;
  background: #e8f4f4;
}
.button-menu .q {
  position: absolute;
  top: 6px;
  right: 6px;
}
