.btn {
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 1px 0 #FFFFFF;
  outline: none;
  cursor: pointer;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
  text-decoration: none !important;
  color: #333;
  display: inline-block;
  border: solid 1px #BBB;
  background-color: #f0f0ea;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0ea), to(#d5d7ce));
  background: -webkit-linear-gradient(top, #f0f0ea, #d5d7ce);
  background: -moz-linear-gradient(top, #f0f0ea, #d5d7ce);
  background: -ms-linear-gradient(top, #f0f0ea, #d5d7ce);
  background: -o-linear-gradient(top, #f0f0ea, #d5d7ce);
  /* Hope this doesn't cause problems, it's useful for button menus */

  position: relative;
}
.btn:not(.disabled):hover {
  z-index: 1;
  border: solid 1px #999;
  text-decoration: none;
  background-color: #f5f5ee;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5ee), to(#dcded5));
  background: -webkit-linear-gradient(top, #f5f5ee, #dcded5);
  background: -moz-linear-gradient(top, #f5f5ee, #dcded5);
  background: -ms-linear-gradient(top, #f5f5ee, #dcded5);
  background: -o-linear-gradient(top, #f5f5ee, #dcded5);
}
.btn:not(.disabled):active, .btn.open {
  border: solid 1px #999;
  background-color: #dcded5;
  background: -webkit-gradient(linear, left top, left bottom, from(#dcded5), to(#f5f5ee));
  background: -webkit-linear-gradient(top, #dcded5, #f5f5ee);
  background: -moz-linear-gradient(top, #dcded5, #f5f5ee);
  background: -ms-linear-gradient(top, #dcded5, #f5f5ee);
  background: -o-linear-gradient(top, #dcded5, #f5f5ee);
}
.ie7 .btn {
  display: inline;
  zoom: 1;
}
input.btn {
  font-family: Sans-Serif;
  padding: 4px 7px;
  border: none;
}
/* Button Menu (?) */
.btn-menu {
  letter-spacing: -0.31em;
  /* webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  word-spacing: -0.43em;
  /* IE < 8 && gecko: collapse white-space between units */

  white-space: nowrap;
}
.btn-menu .btn {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.btn-menu .btn-menu-right {
  margin-left: -1px;
  /* Not a great function for this yet, since we we're
     resetting some but leaving other corners alone */

  -webkit-top-left-border-radius: 0;
  -webkit-bottom-left-border-radius: 0;
  -moz-top-left-border-radius: 0;
  -moz-bottom-left-border-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-menu .btn-menu-left {
  /* Not a great function for this yet, since we we're
     resetting some but leaving other corners alone */

  -webkit-top-right-border-radius: 0;
  -webkit-bottom-right-border-radius: 0;
  -moz-top-right-border-radius: 0;
  -moz-bottom-right-border-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-menu .btn-menu-middle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: -1px;
}
/* NEED TO TEST THIS STUFF */
.ie7 .btn-menu-arrow-left > span {
  height: 10px;
}
.ie7 .btn-menu-right {
  margin-left: 3px;
}
.ie7 .btn-menu-right:hover {
  margin-left: 2px;
}
/* Arrows */
.btn-arrow > span {
  background: url("../images/sm_sprite_arrows.png") no-repeat scroll 0 -497px transparent;
  display: inline-block;
  height: 12px;
  width: 6px;
  zoom: 1;
  *display: inline;
}
.btn-arrow-right {
  padding-right: 6px;
}
.btn-arrow-right > span {
  margin-left: 6px;
}
.btn-arrow-left {
  padding-left: 10px;
}
.btn-arrow-left > span {
  margin-right: 6px;
}
.btn-small.btn-arrow-left {
  padding-left: 8px;
}
.btn-large.btn-arrow-right {
  padding-right: 9px;
  padding-left: 11px;
}
.btn-large.btn-arrow-left {
  padding-right: 11px;
  padding-left: 9px;
}
/* Small Arrows */
.btn-arrow-small-horiz > span {
  height: 7px;
  width: 5px;
}
.btn-arrow-small-vert > span {
  height: 5px;
  width: 7px;
}
.ie7 .btn-arrow-small-horiz > span {
  height: 10px;
}
.ie7 .btn-arrow-small-vert > span {
  height: 10px;
}
.btn-arrow-small-right-light > span {
  background-position: 0 -180px;
}
.btn-arrow-small-left-light > span {
  background-position: 0 -200px;
}
.btn-arrow-small-up-light > span {
  background-position: 0 -220px;
}
.btn-arrow-small-down-light > span {
  background-position: 0 -160px;
}
.btn-arrow-small-right-medium > span {
  background-position: 0 -100px;
}
.btn-arrow-small-left-medium > span {
  background-position: 0 -120px;
}
.btn-arrow-small-up-medium > span {
  background-position: 0 -140px;
}
.btn-arrow-small-down-medium > span {
  background-position: 0 -80px;
}
.btn-arrow-small-right-dark > span {
  background-position: 0 -20px;
}
.btn-arrow-small-left-dark > span {
  background-position: 0 -40px;
}
.btn-arrow-small-up-dark > span {
  background-position: 0 -60px;
}
.btn-arrow-small-down-dark > span {
  background-position: 0 0;
}
/* Standard Size Arrows */
.btn-arrow-standard-horiz > span {
  height: 8px;
  width: 6px;
}
.ie7 .btn-arrow-standard-horiz > span {
  height: 11px;
}
.btn-arrow-standard-vert > span {
  height: 6px;
  width: 12px;
}
.ie7 .btn-arrow-standard-vert > span {
  height: 10px;
  width: 10px;
}
.btn-arrow-standard-right-light > span {
  background-position: 0 -420px;
}
.btn-arrow-standard-left-light > span {
  background-position: 0 -440px;
}
.btn-arrow-standard-up-light > span {
  background-position: 0 -460px;
}
.btn-arrow-standard-down-light > span {
  background-position: 0 -400px;
}
.btn-arrow-standard-right-medium > span {
  background-position: 0 -340px;
}
.btn-arrow-standard-left-medium > span {
  background-position: 0 -360px;
}
.btn-arrow-standard-up-medium > span {
  background-position: 0 -380px;
}
.btn-arrow-standard-down-medium > span {
  background-position: 0 -320px;
}
.btn-arrow-standard-right-dark > span {
  background-position: 0 -260px;
}
.btn-arrow-standard-left-dark > span {
  background-position: 0 -280px;
}
.btn-arrow-standard-up-dark > span {
  background-position: 0 -300px;
}
.btn-arrow-standard-down-dark > span {
  background-position: 0 -240px;
}
/* Large Arrows */
.btn-arrow-large-horiz > span {
  height: 9px;
  width: 6px;
}
.btn-arrow-large-vert > span {
  height: 7px;
  width: 12px;
}
.ie7 .btn-arrow-large-horiz > span {
  height: 12px;
}
.ie7 .btn-arrow-large-vert > span {
  height: 10px;
}
.btn-arrow-large-right-light > span {
  background-position: 0 -420px;
}
.btn-arrow-large-left-light > span {
  background-position: 0 -440px;
}
.btn-arrow-large-up-light > span {
  background-position: 0 -460px;
}
.btn-arrow-large-down-light > span {
  background-position: 0 -400px;
}
.btn-arrow-large-right-medium > span {
  background-position: 0 -580px;
}
.btn-arrow-large-left-medium > span {
  background-position: 0 -600px;
}
.btn-arrow-large-up-medium > span {
  background-position: 0 -620px;
}
.btn-arrow-large-down-medium > span {
  background-position: 0 -560px;
}
.btn-arrow-large-right-dark > span {
  background-position: 0 -500px;
}
.btn-arrow-large-left-dark > span {
  background-position: 0 -520px;
}
.btn-arrow-large-up-dark > span {
  background-position: 0 -540px;
}
.btn-arrow-large-down-dark > span {
  background-position: 0 -480px;
}
.btn-only-arrow {
  padding-left: 8px;
  padding-right: 6px;
}
/* Colors */
.teal {
  color: white;
  border: 0;
  text-shadow: 0 -1px 0 #444444;
  background-color: #35c0c0;
  background: -webkit-gradient(linear, left top, left bottom, from(#35c0c0), to(#049795));
  background: -webkit-linear-gradient(top, #35c0c0, #049795);
  background: -moz-linear-gradient(top, #35c0c0, #049795);
  background: -ms-linear-gradient(top, #35c0c0, #049795);
  background: -o-linear-gradient(top, #35c0c0, #049795);
}
.teal:not(.disabled):hover {
  border: 0;
  background-color: #42cbcc;
  background: -webkit-gradient(linear, left top, left bottom, from(#42cbcc), to(#14a4a3));
  background: -webkit-linear-gradient(top, #42cbcc, #14a4a3);
  background: -moz-linear-gradient(top, #42cbcc, #14a4a3);
  background: -ms-linear-gradient(top, #42cbcc, #14a4a3);
  background: -o-linear-gradient(top, #42cbcc, #14a4a3);
}
.teal:not(.disabled):active, .teal.open {
  background-color: #14a4a3;
  background: -webkit-gradient(linear, left top, left bottom, from(#14a4a3), to(#42cbcc));
  background: -webkit-linear-gradient(top, #14a4a3, #42cbcc);
  background: -moz-linear-gradient(top, #14a4a3, #42cbcc);
  background: -ms-linear-gradient(top, #14a4a3, #42cbcc);
  background: -o-linear-gradient(top, #14a4a3, #42cbcc);
}
.dark-grey {
  color: white;
  border: 0;
  text-shadow: 0 -1px 0 #444444;
  background-color: #989898;
  background: -webkit-gradient(linear, left top, left bottom, from(#989898), to(#666666));
  background: -webkit-linear-gradient(top, #989898, #666666);
  background: -moz-linear-gradient(top, #989898, #666666);
  background: -ms-linear-gradient(top, #989898, #666666);
  background: -o-linear-gradient(top, #989898, #666666);
}
.dark-grey:not(.disabled):hover {
  border: 0;
  background-color: #a4a4a4;
  background: -webkit-gradient(linear, left top, left bottom, from(#a4a4a4), to(#787878));
  background: -webkit-linear-gradient(top, #a4a4a4, #787878);
  background: -moz-linear-gradient(top, #a4a4a4, #787878);
  background: -ms-linear-gradient(top, #a4a4a4, #787878);
  background: -o-linear-gradient(top, #a4a4a4, #787878);
}
.dark-grey:not(.disabled):active, .dark-grey.open {
  background-color: #787878;
  background: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#a4a4a4));
  background: -webkit-linear-gradient(top, #787878, #a4a4a4);
  background: -moz-linear-gradient(top, #787878, #a4a4a4);
  background: -ms-linear-gradient(top, #787878, #a4a4a4);
  background: -o-linear-gradient(top, #787878, #a4a4a4);
}
.yellow {
  border: solid 1px #DFC235;
  text-shadow: 0 1px 0 #FCFC85;
  background-color: #f8f777;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f777), to(#dfc235));
  background: -webkit-linear-gradient(top, #f8f777, #dfc235);
  background: -moz-linear-gradient(top, #f8f777, #dfc235);
  background: -ms-linear-gradient(top, #f8f777, #dfc235);
  background: -o-linear-gradient(top, #f8f777, #dfc235);
}
.yellow:not(.disabled):hover {
  border: solid 1px #999;
  background-color: #fcfc85;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfc85), to(#edce38));
  background: -webkit-linear-gradient(top, #fcfc85, #edce38);
  background: -moz-linear-gradient(top, #fcfc85, #edce38);
  background: -ms-linear-gradient(top, #fcfc85, #edce38);
  background: -o-linear-gradient(top, #fcfc85, #edce38);
}
.yellow:not(.disabled):active, .yellow.open {
  background-color: #f7e258;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7e258), to(#faf476));
  background: -webkit-linear-gradient(top, #f7e258, #faf476);
  background: -moz-linear-gradient(top, #f7e258, #faf476);
  background: -ms-linear-gradient(top, #f7e258, #faf476);
  background: -o-linear-gradient(top, #f7e258, #faf476);
}
.green {
  color: white;
  border: 0;
  text-shadow: 0 -1px 0 #677e2c;
  background-color: #adc93f;
  background: -webkit-gradient(linear, left top, left bottom, from(#adc93f), to(#799334));
  background: -webkit-linear-gradient(top, #adc93f, #799334);
  background: -moz-linear-gradient(top, #adc93f, #799334);
  background: -ms-linear-gradient(top, #adc93f, #799334);
  background: -o-linear-gradient(top, #adc93f, #799334);
}
.green:not(.disabled):hover {
  border: 0;
  background-color: #b4d141;
  background: -webkit-gradient(linear, left top, left bottom, from(#b4d141), to(#819d37));
  background: -webkit-linear-gradient(top, #b4d141, #819d37);
  background: -moz-linear-gradient(top, #b4d141, #819d37);
  background: -ms-linear-gradient(top, #b4d141, #819d37);
  background: -o-linear-gradient(top, #b4d141, #819d37);
}
.green:not(.disabled):active, .green.open {
  background-color: #819d37;
  background: -webkit-gradient(linear, left top, left bottom, from(#819d37), to(#b4d141));
  background: -webkit-linear-gradient(top, #819d37, #b4d141);
  background: -moz-linear-gradient(top, #819d37, #b4d141);
  background: -ms-linear-gradient(top, #819d37, #b4d141);
  background: -o-linear-gradient(top, #819d37, #b4d141);
}
/* Variations */
.btn-small {
  font-size: 11px;
  padding: 3px 9px;
}
.btn-large {
  font-size: 14px;
  padding: 9px 18px;
}
.no-emphasize {
  font-weight: normal;
}
.no-border, .no-border:hover {
  border: 0 !important;
}
.shadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}
