@import "functions.less";

/* Background Colors */
.bg-dark {
  background-color: #5B5A4B;
}
.bg-white {
  background-color: white;
}
.bg-light {
  background-color: #EAEADE;
}
.bg-brand {
  background-color: #A9BD38;
}
.bg-brand-dark {
  background-color: #8aa027;
}
.bg-teal {
  background-color: #00898B;
}

/* Background Gradients */
.grad-dark {
  .gradient(#5e5e4e, #323227);
}
.grad-brand {
  .gradient(#9cb221, #789628);
}
.grad-teal-dark {
  .gradient(#3b9a97, #2c4f5d);
}
.grad-teal {
  .gradient(#3b9a98, #15767b);
}
.grad-orange-dark {
  .gradient(#ec6d12, #b71e20);
}
.grad-orange {
  .gradient(#eca211, #d26923);
}
.grad-yellow {
  .gradient(#f1ee6a, #e4ca32);
}