.q {
	width: 17px;
	height: 17px;
	-webkit-border-radius: 8px;
	-moz-border-radius:    8px;
	border-radius:         8px;
	text-align: center;
	font-size: 11px;
	line-height: 16px;
	color: #999;
	background: #eaeae8;
	display: inline-block;
	position: relative;
	font-weight: bold;
}
.q:hover {
	background: #ccc;
	color: white;
}
.q > span {
  position: relative;
  top: 1px;
  left: 0.5px;
}
.popout {
	text-align: left;
	width: 235px;
	padding: 10px;
	border: 5px solid black;
	background: white;
	position: absolute;
	box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
	
	/* Hide by default */
	top: -9999px;
	left: -9999px;
	
	z-index: 1000;
}
.q.open .popout {
  left: 172%;
	top: -15px;
}
.q.q-top-right.open .popout {
  left: auto;
  right: 172%;
}
.q.q-bottom-left.open .popout {
  top: auto;
  bottom: -23px;
}
.q.q-bottom-right.open .popout {
  top: auto;
  left: auto;
  right: 172%;
  bottom: -23px;
}

.popout h5, .popout p, .popout li {
	color: #333;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	font-size: 12px;
}
.popout p, .popout li {
	text-transform: none;
	font-weight: normal;
}
.popout a {
	color: #2E898A;
}

/* This could easily be an extra element (IE 7) */
.popout:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	width: 15px;
	height: 22px;
	background: url(../images/popout-arrows.png) 0 -22px no-repeat;
	top: 15px;
	left: -20px;
}
.q-top-right .popout:before {
  background-position: -15px -22px;
  left: auto;
  right: -20px;
}
.q-bottom-left .popout:before {
  background-position: 0 -22px;
  right: -20px;
  top: auto;
  bottom: 5px;
}
.q-bottom-right .popout:before {
  background-position: -15px -22px;
  top: auto;
  left: auto;
  right: -20px;
  bottom: 5px;
}


.popout ul {
	list-style: disc;
	margin: 0 0 5px 20px;
}
.popout li {
	margin: 0;
}



/* Variations */

.q.q-on-dark {
  background: #b4b4ac;
  color: white;
}
.q.q-on-dark:hover {
  background: #CCC; 
}
}