/* 
* Pictos Font
* Copyright © 2010 Drew Wilson
* http://www.drewwilson.com  -  http://pictos.drewwilson.com
*/
@font-face {
  font-family: 'Pictos';
  src: url('pictos-web.eot');
  src: local('☺'), url('pictos-web.woff') format('woff'), url('pictos-web.ttf') format('truetype'), url('pictos-web.svg#webfontIyfZbseF') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
Pictos Pseudo Element Icon Reference
By Kevin Hale
*/
.p-a:before {
  font-family: "Pictos";
  content: "a ";
}
.p-b:before {
  font-family: "Pictos";
  content: "b ";
}
.p-c:before {
  font-family: "Pictos";
  content: "c ";
}
.p-d:before {
  font-family: "Pictos";
  content: "d ";
}
.p-e:before {
  font-family: "Pictos";
  content: "e ";
}
.p-f:before {
  font-family: "Pictos";
  content: "f ";
}
.p-g:before {
  font-family: "Pictos";
  content: "g ";
}
.p-h:before {
  font-family: "Pictos";
  content: "h ";
}
.p-i:before {
  font-family: "Pictos";
  content: "i ";
}
.p-j:before {
  font-family: "Pictos";
  content: "j ";
}
.p-k:before {
  font-family: "Pictos";
  content: "k ";
}
.p-l:before {
  font-family: "Pictos";
  content: "l ";
}
.p-m:before {
  font-family: "Pictos";
  content: "m ";
}
.p-n:before {
  font-family: "Pictos";
  content: "n ";
}
.p-o:before {
  font-family: "Pictos";
  content: "o ";
}
.p-p:before {
  font-family: "Pictos";
  content: "p ";
}
.p-q:before {
  font-family: "Pictos";
  content: "q ";
}
.p-r:before {
  font-family: "Pictos";
  content: "r ";
}
.p-s:before {
  font-family: "Pictos";
  content: "s ";
}
.p-t:before {
  font-family: "Pictos";
  content: "t ";
}
.p-u:before {
  font-family: "Pictos";
  content: "u ";
}
.p-v:before {
  font-family: "Pictos";
  content: "v ";
}
.p-w:before {
  font-family: "Pictos";
  content: "w ";
}
.p-x:before {
  font-family: "Pictos";
  content: "x ";
}
.p-y:before {
  font-family: "Pictos";
  content: "y ";
}
.p-z:before {
  font-family: "Pictos";
  content: "z ";
}
.p-A:before {
  font-family: "Pictos";
  content: "A ";
}
.p-B:before {
  font-family: "Pictos";
  content: "B ";
}
.p-C:before {
  font-family: "Pictos";
  content: "C ";
}
.p-D:before {
  font-family: "Pictos";
  content: "D ";
}
.p-E:before {
  font-family: "Pictos";
  content: "E ";
}
.p-F:before {
  font-family: "Pictos";
  content: "F ";
}
.p-G:before {
  font-family: "Pictos";
  content: "G ";
}
.p-H:before {
  font-family: "Pictos";
  content: "H ";
}
.p-I:before {
  font-family: "Pictos";
  content: "I ";
}
.p-J:before {
  font-family: "Pictos";
  content: "J ";
}
.p-K:before {
  font-family: "Pictos";
  content: "K ";
}
.p-L:before {
  font-family: "Pictos";
  content: "L ";
}
.p-M:before {
  font-family: "Pictos";
  content: "M ";
}
.p-N:before {
  font-family: "Pictos";
  content: "N ";
}
.p-O:before {
  font-family: "Pictos";
  content: "O ";
}
.p-P:before {
  font-family: "Pictos";
  content: "P ";
}
.p-Q:before {
  font-family: "Pictos";
  content: "Q ";
}
.p-R:before {
  font-family: "Pictos";
  content: "R ";
}
.p-S:before {
  font-family: "Pictos";
  content: "S ";
}
.p-T:before {
  font-family: "Pictos";
  content: "T ";
}
.p-U:before {
  font-family: "Pictos";
  content: "U ";
}
.p-V:before {
  font-family: "Pictos";
  content: "V ";
}
.p-W:before {
  font-family: "Pictos";
  content: "W ";
}
.p-X:before {
  font-family: "Pictos";
  content: "X ";
}
.p-Y:before {
  font-family: "Pictos";
  content: "Y ";
}
.p-Z:before {
  font-family: "Pictos";
  content: "Z ";
}
.p-\`:before {
  font-family: "Pictos";
  content: "` ";
}
.p-1:before {
  font-family: "Pictos";
  content: "1 ";
}
.p-2:before {
  font-family: "Pictos";
  content: "2 ";
}
.p-3:before {
  font-family: "Pictos";
  content: "3 ";
}
.p-4:before {
  font-family: "Pictos";
  content: "4 ";
}
.p-5:before {
  font-family: "Pictos";
  content: "5 ";
}
.p-6:before {
  font-family: "Pictos";
  content: "6 ";
}
.p-7:before {
  font-family: "Pictos";
  content: "7 ";
}
.p-8:before {
  font-family: "Pictos";
  content: "8 ";
}
.p-9:before {
  font-family: "Pictos";
  content: "9 ";
}
.p-0:before {
  font-family: "Pictos";
  content: "0 ";
}
.p-\-:before {
  font-family: "Pictos";
  content: "- ";
}
.p-\=:before {
  font-family: "Pictos";
  content: "= ";
}
.p-\[:before {
  font-family: "Pictos";
  content: "[ ";
}
.p-\]:before {
  font-family: "Pictos";
  content: "] ";
}
.p-\\:before {
  font-family: "Pictos";
  content: "\ ";
}
.p-\;:before {
  font-family: "Pictos";
  content: "; ";
}
.p-\':before {
  font-family: "Pictos";
  content: "' ";
}
.p-\,:before {
  font-family: "Pictos";
  content: ", ";
}
.p-\.:before {
  font-family: "Pictos";
  content: ". ";
}
.p-\/:before {
  font-family: "Pictos";
  content: "/ ";
}
.p-\~:before {
  font-family: "Pictos";
  content: "~ ";
}
.p-\!:before {
  font-family: "Pictos";
  content: "! ";
}
.p-\@:before {
  font-family: "Pictos";
  content: "@ ";
}
.p-\#:before {
  font-family: "Pictos";
  content: "# ";
}
.p-\$:before {
  font-family: "Pictos";
  content: "$ ";
}
.p-\%:before {
  font-family: "Pictos";
  content: "% ";
}
.p-\^:before {
  font-family: "Pictos";
  content: "^ ";
}
.p-\&:before {
  font-family: "Pictos";
  content: "& ";
}
.p-\*:before {
  font-family: "Pictos";
  content: "* ";
}
.p-\(:before {
  font-family: "Pictos";
  content: "( ";
}
.p-\):before {
  font-family: "Pictos";
  content: ") ";
}
.p-\_:before {
  font-family: "Pictos";
  content: "_ ";
}
.p-\+:before {
  font-family: "Pictos";
  content: "+ ";
}
.p-\{:before {
  font-family: "Pictos";
  content: "{ ";
}
.p-\}:before {
  font-family: "Pictos";
  content: "} ";
}
.p-\|:before {
  font-family: "Pictos";
  content: "| ";
}
.p-\::before {
  font-family: "Pictos";
  content: ": ";
}
.p-\":before {
  font-family: "Pictos";
  content: '" ';
}
.p-\<:before {
  font-family: "Pictos";
  content: "< ";
}
.p-\>:before {
  font-family: "Pictos";
  content: "> ";
}
.p-\?:before {
  font-family: "Pictos";
  content: "? ";
}
