/* Some stuff in normalize.css */

table {
  width: 100%;
  margin: 0 0 10px 0;
}
td,
th {
  vertical-align: middle;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
th {
  text-align: left;
  vertical-align: bottom;
}
tr:hover {
  background: #eee;
}

table.zebra tr:nth-child(odd) {
  
}