!!! 5
html
	head
		meta(charset="UTF-8")
		title SurveyMonkey Design Patterns
		
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/typography.css")
		link(rel="stylesheet", href="css/toolbox.css")
		link(rel="stylesheet", href="css/patterns-structure.css")
		link(rel="stylesheet", href="css/patterns-structure-mq.css")
		
		link(rel="stylesheet", href="css/header.css")
		link(rel="stylesheet", href="css/footer.css")
		
		link(rel="stylesheet", href="css/accordion.css")
		link(rel="stylesheet", href="css/buttons.css")
		link(rel="stylesheet", href="css/button-menus.css")
		link(rel="stylesheet", href="css/tables.css")
		link(rel="stylesheet", href="css/grids.css")
		link(rel="stylesheet", href="css/Forms.css")
		link(rel="stylesheet", href="css/notifications.css")
		link(rel="stylesheet", href="css/dropdowns.css")
		link(rel="stylesheet", href="css/colors.css")
		link(rel="stylesheet", href="css/icons.css")
		link(rel="stylesheet", href="css/tabs.css")
		link(rel="stylesheet", href="css/help-popout.css")
		link(rel="stylesheet", href="css/animations.css")
		link(rel="stylesheet", href="css/spinners.css")
		link(rel="stylesheet", href="css/sliders.css")
		
	body(id="top")
	
		div(class="notification")
			strong Please note:
			|  VERY MUCH a work in progress. Do not use.
			a(href="https://surveymonkey.wufoo.com/forms/feedback-on-design-patterns/")  Feedback

		header(class="patterns-header")
			div(class="container")
				h1
					a(href="#", class="logo") SurveyMonkey
					|  Design Patterns
				ul(class="group")
					li: a(href="#header") Header
					li: a(href="#buttons") Buttons
					li: a(href="#dropdowns") Dropdown Menus
					li: a(href="#Forms") Form Elements
					li: a(href="#lightboxes") Lightboxes
					li: a(href="#tables") Tables
					li: a(href="#typography") Typography
					li: a(href="#grids") Grids
					li: a(href="#colors") Color Palette
					li: a(href="#tabs") Tabs
					li: a(href="#icons") Icons
					li: a(href="#notifications") Notifications
					li: a(href="#help") Help Popouts
					li: a(href="#sprite") Sprite
					li: a(href="#sprite") Animations
					li: a(href="#accordion") Accordion
					li: a(href="#spinners") Spinners
					li: a(href="#slides") Sliders
					li: a(href="#scroll-follow") Scroll-Follow Content
					li: a(href="#footer") Footer
					
		section(id="load-buttons", class="container group demo-buttons")
			include includes/buttons.html
			
		section(class="container group demo-dropdowns")
			include includes/dropdowns.html
		
		section(class="container group demo-Forms")
			include includes/Forms.html
		
		section(class="container group demo-lightboxes")
			include includes/lightboxes.html
		
		section(class="container group demo-tables")
			include includes/tables.html
		
		section(class="container group demo-typography")
			include includes/typography.html
		
		section(class="container group scroll-follow", id="motherfucker")
			include includes/scroll-follows.html
	
		section(class="container group demo-grids")
			include includes/grids.html
		
		section(class="container group demo-colors")
			include includes/colors.html
		
		section(class="container group demo-tabs")
			include includes/tabs.html
		
		section(class="container group demo-icons")
			include includes/icons.html
		
		section(class="container group demo-notifications")
			include includes/notifications.html
		
		section(class="container group demo-popouts")
			include includes/popouts.html
		
		section(class="container group demo-sprites")
			include includes/sprites.html
		
		section(class="container group demo-accordion")
			include includes/accordions.html
		
		section(class="container group animations")
			include includes/animations.html
		
		section(class="container group spinners")
			include includes/spinners.html
		
		section(class="container group sliders")
			include includes/sliders.html
			
		footer
			div(class="container") &copy;2011 SurveyMonkey
			
		// Does not require jQuery
		script(src="js/elastictxt.js")
		
		
		// Required for everything. jQuery! Yay!
		script(src="js/libraries/jquery-1.7.min.js")
		
		// Global
		script(src="js/global.js")
		
		// For popouts
		script(src="js/plugins/jquery.hoverIntent.js")
		script(src="js/popouts.js")
		
		// For accordions
		script(src="js/accordion.js")
		
		// For tabs
		script(src="js/tabs.js")
		
		// For spinners
		script(src="js/spinners.js")
		
		// For button menus
		script(src="js/button-menus.js")
		
		// For sliders
		script(src="js/plugins/jquery-ui-1.8.16.core-widget-mouse-slider.min.js")
		script(src="js/sliders.js")
		
		// For scroll-follow
		script(src="js/plugins/withinViewport.js")
		script(src="js/plugins/jQuery.withinViewport.js")
		script(src="js/scroll-follow.js")
		
		// For this demo page
		script(src="js/demo.js")